<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/george-frank.jpg" alt="George Frank" class="img-thumbnail rounded-circle mt-2" width="150">
            <h1 class="display4">George Frank</h1>
            <p class="lead">Student | Programmer</p>
        </div>
    </div>
</div>