<h1>Web Server NodeJS</h1>
<h2>Halo <%= nameUser %></h2>

<h4>Contact List</h4>
<% if (usersContact.length < 1) { %>
    <p>contact data is still empty</p>
<% } else { %>
    <% usersContact.forEach(user => { %>
        <ul>
            <li>Name : <%= user.nameContact %></li>
            <li>Email : <%= user.email %></li>
        </ul>
    <% }) %>
<% } %>